@import "tailwindcss";

@theme {
  --default-font-family: "Rubik", "sans-serif";
  --font-oswald: "Oswald", "sans-serif";
  --header-gap: 28;

  /* RED */
  --color-ax-red-a: #c80003;
  --color-ax-red-b: #d40003;
  --color-ax-red-c: #e00003;
  --color-ax-red-d: #ed0003;

  /* YELLOW */
  --color-ax-yellow-a: #e6b800;
  --color-ax-yellow-b: #f2c200;
  --color-ax-yellow-c: #ffcc00;
  --color-ax-yellow-d: #ffd52b;

  /* WHITE */
  --color-ax-white-a: #f5f5dc;
  --color-ax-white-b: #fafae2;
  --color-ax-white-c: #ffffe9;
  --color-ax-white-d: #fffff0;

  /* BLACK */
  --color-ax-black-a: #121212;
  --color-ax-black-b: #171717;
  --color-ax-black-c: #1c1c1c;
  --color-ax-black-d: #212121;
}

@layer base {
  /* Scrollbar Styles */
  /* prettier-ignore */
  html {
    @apply
    [&::-webkit-scrollbar]:w-3
    [&::-webkit-scrollbar-thumb]:bg-[hsl(0,0%,80%)]
    [&::-webkit-scrollbar-thumb]:[border:2px_solid_hsl(0,0%,95%)]
    hover:[&::-webkit-scrollbar-thumb]:bg-[hsl(0,0%,70%)]
    [&::-webkit-scrollbar-track]:bg-[hsl(0,0%,95%)];
  }

  h1,
  h2,
  h3 {
    @apply font-oswald leading-[1.2] font-semibold;
  }

  section {
    @apply py-12;

    & h2 {
      @apply text-ax-black-d mb-5 text-center text-3xl;
    }
  }

  label,
  span,
  img {
    @apply block max-w-none;
  }
}

@layer components {
  .headline {
    @apply text-ax-yellow-a font-oswald mb-2.5 text-center text-xl font-semibold tracking-[3px] uppercase;
  }

  .container {
    @apply px-4;
  }

  .contact-label {
    @apply font-oswald text-2xl leading-[1.2] font-semibold;
  }

  .btn {
    @apply bg-ax-red-a text-ax-white-a block max-w-max px-5 py-4;
  }

  .hero-btn {
    @apply mx-auto block max-w-max border border-white px-5 py-2 text-sm font-medium uppercase;
  }
}

* {
  border: 1px solid red;
}

.ion-icon path {
  stroke-width: 40;
}
